body {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   margin: 0;
   padding: 0;
   background-color: #f8f8f8;
}

h1 {
   background-color: #000000;
   color: white;
   padding: 15px 0;
   font-size: 25px;
}

.menu-container {
   display: flex;
   justify-content: center;
   gap: 10px;
   padding: 15px;
   overflow-x: auto;
   background-color: #f8f8f8;
   border-bottom: 2px solid black;
   white-space: nowrap;
}

.menu-container img {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   cursor: pointer;
   transition: transform 0.25s;
}

.menu-container img:hover {
   transform: scale(1.1);
}

#ramen-detail {
   margin: 20px auto;
   padding: 20px;
   background-color: white;
   border: 2px solid black;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 400px;
}

#ramen-detail img {
   max-width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 10px;
}

form {
   background-color: white;
   padding: 20px;
   width: 20%;
   margin: 20px auto;
   border: 2px solid black;
   display: flex;
   flex-direction: column;
   gap: 5px;
   text-align: left;
   border: 2px solid black;
   border-radius: 8px;  
}

form label {
   font-weight: bold;
   font-size: 14px;
   margin-bottom: 5px;
   color: black;
   display: block;
}

form input {
   padding: 8px;
   margin-top: 5px;
   border: 1px solid black;
   border-radius: 4px;
   width: 100%;
}

form button {
   padding: 10px;
   margin-top: 15px;
   background-color: black;
   color: white;
   border: none;
   cursor: pointer;
   font-size: 16px;
}

form button:hover {
   background-color: burlywood;
   color: black;
}